# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Virtual environments
.venv/
venv/

# Environment
.env
.env.*

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Logs
*.log

processed_frame.jpg
database.csv
*.pt